:root {
  --branding-color: #ff5168;
  --secondary-color: lightpink;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

.name {
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
  font-family: "Knewave", cursive;
  color: var(--secondary-color);
  -webkit-text-stroke: 0.1px var(--branding-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: #272142;
}

.btn-branding {
  background: #ff5168;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--branding-color);
  background: white;
  border: 1px solid var(--branding-color);
  transition: all 200ms ease-in-out;
}

.btn-branding-outline {
  background: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  color: white;
  background: var(--branding-color);
  transition: all 200ms ease-in-out;
}

.project-description {
  padding: 120px 60px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.contern p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #272142;
  line-height: 42px;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 10px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
  transition: all 100ms ease-in-out;
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    margin-top: 10px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  h3 {
    font-size: 26px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
  }
}
